body {
    background-color: #c5ccb8;
    margin: 0;
}

h1 {
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #4569a4;
    justify-content: center;
    margin: auto;
}

p {

}