body {
    background-color: white;
    margin: 0;
}

h1 {
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #c5ccb8;
    justify-content: center;
    margin: auto;
}

section {
    max-width: 300px;
    background-color: #4569a4;
    margin-left: 100px;
    align-self: anchor-center;
}

div {
    width: 500px;
    height: 250px;
    
}

#learning {
    margin-left: 850px;
    text-align: center;
    background-color: #433356;
    max-width: 500px;
    max-height: 400px;
    margin-top: -100px;
    display: grid;
}

#friends {
    text-align: center;
    background-color: #433356;
    max-width: 500px;
    margin-top: 50px;
    margin-left: 100px;
    display: grid;
}

.logo {
    width: 200px;
}

.mario {
    width: 700px;
    margin-left: 500px;
}
