body {
    background-color: white;
    margin: 0;
}

h1 {
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #4569a4;
    justify-content: center;
    margin: auto;
}

section {
    max-width: 300px;
    background-color: #4569a4;
    margin-left: 100px;
}

div {
    max-width: 500px;
    height: 250px;
    background-color: #c5ccb8;
    justify-content: center;

}

#learning {
    margin-left: 800px;
    text-align: center;
    background-color: #c5ccb8;
    max-width: 500px;
    margin-top: 50px;
}

#friends {
    text-align: center;
    background-color: #c5ccb8;
    max-width: 500px;
    margin-top: 50px;
}

img {
    width: 500px;
}
